<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Calcul du IMC </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-label>Poids : </ion-label>
    <ion-input [(ngModel)]="poids"></ion-input> <br />
    <ion-label>Taille : </ion-label>
    <ion-input [(ngModel)]="taille"></ion-input> <br />
    <ion-button (click)="onCalc()"><ion-icon name="body-outline"></ion-icon></ion-button>
    <br />
    <ion-button  *ngIf="message === 'normal'" color="success" >
      IMC : {{ imc }} {{message}}
    </ion-button>
    <ion-button  *ngIf="message === 'maigreur'" color="warning" >
      IMC : {{ imc }} {{message}}
    </ion-button>
    <ion-button  *ngIf="message === 'surpoids'" color="danger" >
      IMC : {{ imc }} {{message}}
    </ion-button>
    <h2>{{ message2 }}</h2>
  </ion-card>
</ion-content>
